    <!--FOOTER-->
    <div id="footer">
      <div class="row clearfix" id="footer-first-wrapper">
        <div class="external-links-holder">
          <ul>
            <li>
              <span class="external-link-title">Community</span>
            </li>
            <li>
              <a href="https://airbnb.ca/diversity">Diversity and inclusion</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/accessibility">Accessibility</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/associates?from=footer">Airbnb Associates</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/invite?r=6">Guest Referrals</a>
            </li>
          </ul>
        </div>
        <div class="external-links-holder">
          <ul>
            <li>
              <span class="external-link-title">Hosting</span>
            </li>
            <li>
              <a href="https://airbnb.ca/host/homes?from_footer=1">Host travelers</a>
            </li>
            <li>
              <a href="https://airbnb.ca/host/experiences">Organize an experience</a>
            </li>
            <li>
              <a href="https://airbnb.ca/help/responsible-hosting">Responsible welcome</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/resources">Resource Centre</a>
            </li>
          </ul>
        </div>
        <div class="external-links-holder">
          <ul>
            <li>
              <span class="external-link-title">Support</span>
            </li>
            <li>
              <a href="https://www.airbnb.ca/d/covidsafety">Our COVID-19 Response</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/help/home?from=footer">Help Centre</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/help/article/2701/extenuating-circumstances-policy-and-the-coronavirus-covid19">Cancellation options</a>
            </li>
            <li>
              <a href="https://www.airbnb.ca/trust">Trust & Safety</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix" id="copyright-footer">
      <div id="left-copyright-footer">
        <span class="fab fa-airbnb"></span>
        <span> &copy; Airbnb, Inc. </span>
      </div>
      <div id="right-copyright-footer" class="clearfix">
        <ul>
          <li>
            <a href="https://www.airbnb.ca/terms">Terms</a>
          </li>
          <li>
            <a href="https://www.airbnb.ca/terms/privacy_policy">Privacy</a>
          </li>
          <li>
            <a href="https://www.airbnb.ca/sitemaps/v2">Site Map</a>
          </li>
        </ul>
        <a href="https://instagram.com/airbnb" class="social-link">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/airbnb" class="social-link">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com/airbnb" class="social-link">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
    <script src="../functions.js" crossorigin="anonymous"></script>